{% extends "base.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-6">
    <h2>Mountains Climbed!</h2>
      <ol>
    <!-- For loop logic of jinja templates -->
    {%for key in dkeys%}
        <li><a href="#">{{key}}</a></li>
        <ul>
        {%for mt in nh[key]['act_id']%}
            <li><a href="{{ 'https://www.strava.com/activities/%s'%nh[key]['act_id'][loop.index0]}}"  target="_blank">{{nh[key]['act_name'][loop.index0]}}</a></li>
            {%endfor%}
            </ul>
      {%endfor%}
      </ol>
      </div>
    <div class="col-lg-6">
      <h2>Mountains to go!</h2>
     <ol>
         {%for item in unfin%}
         <li>{{item}}</li>
         {%endfor%}
     </ol>
    </div>
  </div>
  </div>
  </div>
{% endblock %}


